.Dashboard{

    padding: 18px;
    width: 96vw;
    height: 96vh;
    min-width: 380px;
    background-image: url('./img/pic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    opacity: .8;

}
.table{
    opacity: .8;
    box-shadow: 2px 2px 2px 2px #222222;
    text-align: left;
    color:black;
    background-color: white;
    min-width: 380px;
    width: 30vw;
    height: 50vh;
    margin-left: calc(50vw - 180px)
}
.headingProfile{
    font-size: 45px;
    text-align: center;
}